.tasks {
  max-width: 1130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tasks__container {
  width: 525px;
}

.tasks__title {
  width: 485px;
  margin-bottom: 21px;
  line-height: 64px;
  font-size: 54px;
  font-weight: 400;
  font-family: 'Fraunces';
}

.tasks__subtitle {
  width: 380px;
  margin-bottom: 32px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Inter';
}

.tasks__button-container {
  width: 308px;
  display: flex;
  justify-content: space-between;
}

.tasks__button {
  width: 174px;
  height: 43px;
  background: #0070a0;
  border: none;
  line-height: 27px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Inter';
}

.tasks__link {
  width: 130px;
  line-height: 27px;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Inter';
  color: #0070a0;
  margin-top: 5px;
}

.tasks__link-arrow {
  width: 14px;
  height: 21px;
}

.tasks__image {
  width: 452px;
  height: 422px;
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
